<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChickenFilmV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/Movies/FilmManagement.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Movies/IndexMovie.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Movies/CreateMovie.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChickenFilmV2.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <partial name="Partial/HeaderManagement" />
    </header>
    <div class="wrapper d-flex">
        <div id="sidebar-placeholder">
            <partial name="Partial/SidebarManagement" />
        </div>
        <main role="main" class="main pb-3" id="main-content">
            @RenderBody()
        </main>
    </div>
    <script>
        function loadComponent(id, file, callback) {
            fetch(file)
                .then(res => res.text())
                .then(data => {
                    document.getElementById(id).innerHTML = data;
                    if (callback) callback();
                })
                .catch(err => console.error('Lỗi load component:', err));
        }

        function initSidebarToggle() {
            const hamBurger = document.querySelector(".toggle-btn");
            const sidebar = document.querySelector("#sidebar");

            if (hamBurger && sidebar) {
                hamBurger.addEventListener("click", function () {
                    sidebar.classList.toggle("expand");
                });
            } else {
                console.error("Không tìm thấy toggle-btn hoặc sidebar");
            }
        }

        function initSidebarLinks() {
            const links = document.querySelectorAll(".sidebar-link[data-page]");
            links.forEach(link => {
                link.addEventListener("click", function (e) {
                    e.preventDefault();
                    const page = this.getAttribute("data-page");
                    loadComponent("main-content", page);
                });
            });
        }

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>