/* Định dạng thêm cho modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #736868;
    color: white;
}

.modal-body {
    background-color: #f8f9fa;
}

.form-label {
    font-weight: bold;
}

/* Style cho các input */
input, select, textarea {
    border-radius: 5px;
}

button:focus {
    outline: none;
    box-shadow: none;
}


.section-box {
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
}

.section-header {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.badge-custom {
    font-size: 0.8rem;
    padding: 5px 10px;
}

.action-icons i {
    cursor: pointer;
    margin: 0 5px;
}

    .action-icons i:hover {
        opacity: 0.8;
    }

.bg-section-1 {
    background-color: #f8f9fa;
}

.bg-section-2 {
    background-color: #ffffff;
}

.delete-btn{
    background-color: transparent !important;
    border: none !important;
}